<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>HWRD 3DPrint</title>
		<link rel="stylesheet" href="static/style.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<script src="/static/ajax.js"></script>
	</head>



	<body>

		<header>
			<h1> HARDWIRED print </h1>
		</header>
		<div id="main">
			<button class="button" onclick="ajaxInject('static/home.html', 'main')"> START </button>
			<a class="button" href="/feed"> LIVE FEED </a>
		</div>
	</body>
</html>
