<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>HWRD 3DPrint</title>
		<link rel="stylesheet" href="static/style.css">
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	</head>



	<body>

		<header>
			<h1> HARDWIRED pront </h1>
		</header>
		<div id="main">
			<form method="post" id="uploader" enctype=multipart/form-data>
				<label for="plfile">
					Select FILE
				<input type="file" id="plfile" name="plfile">
				</label>
				<input type="submit" id="submit" class="CTA">

			</form>
		</div>
	</body>
</html>
